html {
  font-size: 70%;
}

.App {
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 10px 0;
}

input {
  display: block;
  width: 100%;
  margin: 5px 0 0;
}

button {
  margin-top: 20px;
  background:black;
  color:white;
}

button:hover {
  background-image: none;
  background-color: #4dd0e1;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-image: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
.terms {
  display: inline-block;
}

.errors {
  color:red;
}